html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5; /* Un fondo suave para mejorar el contraste */
}

/* Aseguramos que el contenido principal no se estire innecesariamente */
#root {
  max-width: 100%;
}